body{
    font-family: Arial, Helvetica, sans-serif;
}
.text-primary {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-link{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.top-right-links {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 15px;
    font-size: 16px;
    font-weight: bold;
}
.top-right-links a {
    text-decoration: none;
    color: #ffffff;
    background-color: #bd5d38;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.top-right-links a:hover {
    background-color: #bd5d38;
}